
.container_principal{
    width: 100vw;
}

.container_varius{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.title{
    display: flex;
    align-items: flex-end;
}
.btn_create{
    padding: 10px 20px;
    background-color: #5f6deb;
    color: white;
    border: none;
}

