.container__formUser{
    width: inherit;
    height: 100vh;
    position: fixed;
    right: -100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.514);
}

.active_container__formUser{
    width: inherit;
    height: 100vh;
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.432);
}

.container__create{
    background-color: rgb(228, 228, 228);
    padding: 20px;
    border-radius: 8px;
    width: 35vw;
}

.form{
    display: flex;
    flex-direction: column;
}

.form__close{
    display: flex;
    justify-content: space-between;
}

.btn_close{
    border: none;
    background-color: #E4E4E4;
}

.form__item{
    display: flex;
    flex-direction: column;
    padding: 17px 0px;
}

.btn_submit{
    background-color: #5f6deb;
    padding: 4px;
    margin-top: 15px;
    color: white;
    border: none;
}

@media (max-width: 425px) {

    .container__create{
        width: 50vw;
    }
    .form__item{
        padding: 5px 0px;
        font-size: 13px;
    }
    .form__close {
        font-size: 10px;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 1em;
    }

}