.container__card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px
}
span{
    font-size: small;
}
.user{
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 0px;
}

.user__item{
    display: flex;
    flex-direction: column;
}

.user__label{
    color: gray;
}

.btn{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn__delete, .btn__edit{
    border: none;
    border-radius: 2px;
    box-shadow: 0px 0px 1px 0px;
    font-size: 20px;
    color: white;
}
.btn__delete{
    background-color: rgb(224, 46, 46);
}

.btn__edit{
    background-color: rgb(223, 223, 223);
}

